@use "../commons/colors" as *;
.nav {
  background-color: $fehér;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  &__bt {
    padding-left: 1rem;

    a {
      text-decoration: none;
      color: $narancssárga;
      font-size: 1.5rem;
      &:hover {
        color: $fehér;
      }
    }
  }

  &__hamburger {
    user-select: none;
    display: flex;
    margin-left: auto;
    padding-top: 0.5rem;
    padding-right: 2rem;
    flex-direction: column;

    &-input {
      display: none;
    }
    &-border {
      width: 4.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px $fekete;
      border-radius: 5px;
      padding: 1px 4px;
      box-shadow: black 0 1px 3px;
      align-self: flex-end;
    }

    &-label {
      display: flex;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
      flex-wrap: wrap;
    }
    &-line {
      width: 1.5rem;
      display: block;
      height: 2.1px;
      background-color: $fekete;
    }
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  &__links {
    margin-left: auto;
    display: none;
    @media screen and (min-width: 992px) {
      display: flex;
    }
  }
  &__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-mobile {
      display: none;
      flex-direction: column;
      width: 7rem;

      li {
        list-style: none;
        padding-top: 1rem;
      }
      a {
        text-decoration: none;
      }
    }
    li {
      list-style: none;
    }
    a {
      font-size: 1.2rem;
      padding-right: 3rem;
      text-decoration: none;
      color: $fekete;

      &:hover {
        color: $fehér;
      }
    }
  }
}

.welcome {
  background: url("/dist/img/bg-pattern.png"), linear-gradient(90deg, $piros 10%, $lila);
}
.kezdolap {
  display: flex;
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
  &__bal {
    line-height: 1.4;
    color: $fehér;
    font-size: 2.2rem;
    text-align: center;
    &-button {
      margin-top: 2rem;
      background: transparent;
      border: none;
      margin-bottom: 3rem;
      &:hover {
        a {
          transition: all 300ms;
          background-color: $narancssárga;
          border-color: #fdcc52;
          border: 4px;
        }
      }
      a {
        font-size: 2rem;
        border: solid 2px $fehér;
        border-radius: 10rem;
        padding: 1rem 3rem;

        text-decoration: none;
        color: $fehér;
      }
    }
  }
}
.kep {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  @media screen and (min-width: 992px) {
  }
  &__1 {
    width: 80%;
    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }
  &__2 {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 992px) {
      width: 44%;
    }
  }
}
.flex-vagyok {
  display: flex;
}
